.header {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    color: $white;

    &._sticky {
        .header__body {
            margin-top: 10px;
            background-color: #5178B3;
            top: 10px;
            padding: 10px 10px 10px 15px;
        }
    }

    &._dark {
        color: $black;
    }

    // .header__container
    &__container {
        // @media (min-width:1025px) {
        //     max-width: calc(100% - 40px);
        // }
    }

    // .header__body
    &__body {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 18px 0;
        border-radius: 100px;
        transition: all 0.3s ease 0s;

        @media (max-width:1024px) {
            padding: 20px 0;
        }
    }

    // .header__logo
    &__logo {
        font-family: "Space Grotesk";
        font-weight: 700;
        line-height: 75%;
        @include adaptive-value('font-size', 24, 19, 1);
    }

    nav {
        margin-inline: auto;

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;

            a {
                font-size: 16px;
                font-weight: 500;
                line-height: 110%;
            }

            li {
                position: relative;

                &:hover {
                    ul {
                        opacity: 1;
                        pointer-events: all;
                    }
                }

                ul {
                    position: absolute;
                    left: 0;
                    top: calc(100% + 16px);
                    z-index: 2;
                    padding: 16px;
                    border-radius: 24px;
                    background: rgba(255, 255, 255, 0.10);
                    backdrop-filter: blur(60px);
                    opacity: 0;
                    pointer-events: none;
                    transition: opacity 0.3s ease 0s;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    white-space: nowrap;
                    align-items: flex-start;
                    text-align: left;

                    &:before {
                        position: absolute;
                        content: '';
                        width: 100%;
                        left: 0;
                        top: -16px;
                        height: 32px;
                    }

                    a {
                        @media (any-hover: hover) {
                            &:hover {
                                opacity: 0.5;
                            }
                        }
                    }
                }
            }
        }

        @media (max-width:1024px) {
            display: none;
        }
    }

    .lang {
        @media (max-width:1024px) {
            display: none;
        }
    }

    ._btn {
        height: 48px;

        @media (max-width:1024px) {
            display: none;
        }
    }

    // .header__burger
    &__burger {
        @media (min-width:1025px) {
            display: none;
        }

        width: 24px;
        height: 24px;
        position: relative;
        margin-left: auto;
        transition: transform 0.3s ease 0s;

        span {
            pointer-events: none;
            position: absolute;
            width: 16px;
            height: 1.5px;
            border-radius: 100px;
            background-color: currentColor;
            top: 50%;
            left: 50%;

            &:first-child {
                transform: translate(-50%, calc(-50% - 3px));
            }

            &:last-child {
                transform: translate(-50%, calc(-50% + 3px));
            }
        }

        &._active {
            transform: rotate(90deg);
        }
    }
}

.lang {
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    display: flex;
    align-items: center;
    gap: 7px;
    position: relative;

    img,
    svg {
        width: 12px;
        height: 10px;
        flex: 0 0 auto;
        cursor: pointer;
        fill: none;
        stroke: currentColor;
        stroke-width: 2px;
        transition: transform 0.3s ease 0s;

        * {
            pointer-events: none;
        }
    }

    li:not(.current-lang) {
        display: none;
        position: absolute;
        top: calc(100% + 4px);
        flex: 0 0 auto;

        a {
            line-height: 1;
        }
    }

    &._open {
        li:not(.current-lang) {
            display: block;
        }

        svg,
        img {
            transform: rotate(180deg);
        }
    }
}