@font-face {
    font-family: InterTight;
    font-display: swap;
    src: url("../fonts/InterTight-Regular.woff2") format("woff2"), url("../fonts/InterTight-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Manrope;
    font-display: swap;
    src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Space Grotesk";
    font-display: swap;
    src: url("../fonts/SpaceGrotesk-Bold.woff2") format("woff2"), url("../fonts/SpaceGrotesk-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Space Grotesk";
    font-display: swap;
    src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2"), url("../fonts/SpaceGrotesk-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Space Grotesk";
    font-display: swap;
    src: url("../fonts/SpaceGrotesk-SemiBold.woff2") format("woff2"), url("../fonts/SpaceGrotesk-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "TT Firs Neue";
    font-display: swap;
    src: url("../fonts/TT Firs Neue Trial Bold.woff2") format("woff2"), url("../fonts/TT Firs Neue Trial Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: SF;
    font-display: swap;
    src: url("../fonts/SF-Pro-Display-Regular.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TT Firs Neue";
    font-display: swap;
    src: url("../fonts/TT Firs Neue Trial Regular.woff2") format("woff2"), url("../fonts/TT Firs Neue Trial Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TT Firs Neue";
    font-display: swap;
    src: url("../fonts/TT Firs Neue Trial Medium.woff2") format("woff2"), url("../fonts/TT Firs Neue Trial Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "TT Firs Neue";
    font-display: swap;
    src: url("../fonts/TT Firs Neue Trial DemiBold.woff2") format("woff2"), url("../fonts/TT Firs Neue Trial DemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}