// null default styles
@import "null";
// load fonts
@import "fonts";
//load variables
@import "common/variables";
// load mixins
@import "mixins";
@import "parts/dhx-suite.min";
// load common
@import "common/common";
// load header
@import "common/header";
// load footer
@import "common/footer";
// load form
@import "common/form";
// load side popup
@import "common/popup";
// load footer
@import "common/menu";
// load accordeon
@import "common/accordeon";
// load grid
@import "parts/grid";
// load cards
@import "parts/cards";
// load section
@import "parts/section";
// load hero
@import "parts/hero";
// load eng
@import "parts/eng";
// load 1920
@import "parts/1920";
// load large
@import "parts/large";

.pages {
    position: fixed;
    top: 50%;
    left: 0;
    background-color: #020202;
    z-index: 10000;
    color: #fff;
    width: fit-content;
    height: auto;
    padding: 20px;
    transform: translate(0, -50%);

    &._hide {
        transform: translate(-100%, -50%);
    }

    button {
        padding: 5px;
        background-color: #000;
        margin-bottom: 10px;
        position: absolute;
        left: 100%;
        top: 0;
        font-size: 20px;
    }

    a {
        display: block;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}